body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*position: absolute;*/
    overflow-y: scroll;

}
/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} */

/* li{
    display: inline;
    float: right;
    margin: 8px;
} */

a{
    text-decoration: none;
}
.window{
    height: 100%;
    width: 100%;
    background-color: orange;
    display: block;
    box-sizing: initial;
    /*! overflow: auto; */
}

.logo{
    background-color: red;
    height: 100%;
    width: 75px;
    /* display: revert; */
    margin: 0;
    float: left;
}

.title{
    background-color: yellow;
    width: 300px;
    height: 100%;
    display: block;
    float: left;
    padding: 8px;
}

.top{
    list-style-type: none;
    margin: 0;
    padding: 0;

    background-color: royalblue;
    /* height: 75px; */
    width: 100%;
    text-anchor: middle;
    font-size: 30px;
    text-align: center;
    display: block;
    float: left;
    overflow: none;
}

.menu-item{
        display: inline;
        float: right;
        margin: 8px;
}

.menu{
    background-color: purple;
    width:auto;
    float: right;
    height: 100%;
}

/* Index contents */
.contents{
    height: 700px;
    display: inline-block;
    position: relative;
    /*! float: left; */
    background-image: url("sky-ge34fc76d6_1920.jpg");
    background-color: white;
    background-position: 50%;
    width: 100%;
}
.content-box{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

div.title-content{
    width: auto;
    height: auto;
    color: white;
    margin: 16px;

    align-content: center;
    text-align: center;
    font-size: 42px;
}
div.description-content{
    align-content: center;
    text-align: center;
    color: white;

    font-size: 22px;
}

.images-slide{
    height: 100%;
    width: 80%;
    background-color: white;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

/*Items in index webpage*/
.index-items-title{
    margin: 24px;
    font-size: 24px;
}

.index-items{
    background-color: white;
    width: 100%;
    height: auto;
}
.index-items-retail{
    background-color: rgb(177, 177, 177);
    border-radius: 24px;
    border-color: lightgray;
    width: auto;

    position: relative;

    /* height:175px; */
    text-align: center;
    margin: 50px 300px;
    padding: 20px;
    /* color: gray; */
    font-size: 36px;
}
.index-retail-info{
    color:gray;
}

.button-retail{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.index-items-retail-file-name{
    margin: 8px 0;
}

.index-items-margin-box{
    background-color: white;
    margin: 24px;
    height: 400px;
}
.index-items-single-box{
    background-color: gray;
    width: 33.333%;
    height: auto;
    float: left;
}
.index-items-box-image{
    /* position: relative; */
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 16px;

    margin: 12px;
    width: auto;
    height: 200px;    
}
.index-items-box-image-style{
    /* margin-top: 24px; */
    width: 100%;
    height: 100%;
}
.index-items-box-title{
    margin: 12px;
    font-size: x-large;
}
.index-items-box-description{
    margin: 12px;
}

.bottom{
    width: 100%;
    display: block;
    float: left;
}

.bottom-text{
    margin: 8px;
    text-align: center;
    font-size: 14px;
}
