body{
    margin: 0;
    padding: 0;
}

.window{
    height: 100%;
    width: 100%;
    background-color: orange;
    display: block;
    box-sizing: initial;
    position: fixed;
    /*! overflow: auto; */
}

.logo{
    background-color: red;
    height: 100%;
    width: 75px;
    display: revert;
    margin: 0;
    float: left;
}
.title{
    background-color: yellow;
    width: 300px;
    height: 100%;
    display: block;
    float: left;
}

.top{
    background-color: royalblue;
    height: 75px;
    width: 100%;
    text-anchor: middle;
    font-size: 30px;
    text-align: center;
    display: inline-block;
<<<<<<< HEAD
    /* float: left; */
=======
    float: left;
>>>>>>> ec4a3a503ff4b2d411a40649da91440ca2752654
    overflow: none;
}
.menu{
    background-color: purple;
    width:75px;
    float: right;
    height: 100%;
}

.contents{
    background-color: chartreuse;
    height: 400px;
    display: inline-block;
    /*! float: left; */
    width: 100%;
}

.images-slide{
    height: 100%;
    width: 600px;
    background-color: white;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}