@font-face {
    font-family: "RobotoRegular";
    src: url("/assets/roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "RobotoLight";
    src: url("/assets/roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "DM Serif Display";
    src: url("/assets/fonts/DeepMindSerif_v5.003/DeepMindSerifDisplay-Regular.ttf");
}

@font-face {
    font-family: "DM Serif Text";
    src: url("/assets/fonts/DeepMindSerif_v5.003/DeepMindSerifText-Regular.ttf");
}

body {
    margin: 0px;
    background-color: #4c4b16;
    color: #3d3d3d;
    font-family: "DM Serif Text";
    /* background: linear-gradient(180deg, rgba(0, 19, 5, 1) calc(100% - 192px), rgba(0, 0, 0, 1) 100%); */
    /* overflow: hidden; */
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

#hero-3d-background {
    filter: blur(4px);
}

#hero-3d-content {
    border-radius: 24px;
    filter: blur(1px);
}

.title-section {
    font-family: "DM Serif Display";
    margin-bottom: 32px;
    font-size: 54px;
    line-height: 0.8;
    padding-left: 8px;
}


/* Portfolio - Main page */

.portfolio-site {
    /* background-color: #001305; */
    min-width: 1268px;
    width: 1268px;
    margin: auto;
    position: relative;
}

.portfolio-bottom-site {
    min-width: 1268px;
    width: 1268px;
    margin: auto;
    position: relative;
}

.portfolio-project-header {
    background-color: chocolate;
    width: 100%;
    max-height: 960px;
    height: 100vh;
    position: relative;
}

/* Main menu - threejs background */
.portfolio-title {
    height: calc(100vh - 48px);
    position: relative;
    min-height: 720px;
}

.portfolio-introduction {
    margin: auto;
    width: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    color: #FBF6E9;
}

/* Portfolio - Hero Section - Border Blur*/

.portfolio-test-hero-section::after {
    --negative-border-width: 1.5em;

    position: absolute;
    z-index: 2;
    filter: blur(4px);

    top: var(--negative-border-width);
    bottom: var(--negative-border-width);
    left: var(--negative-border-width);
    right: var(--negative-border-width);

    border: inherit;
    border-color: transparent;
    background: inherit;
    background-clip: border-box;
    content: "";
}

.portfolio-test-hero-section {
    --border-width: 1.5em;

    position: relative;
    /* border: solid var(--border-width) rgba(0, 0, 0, 0.0); */
    /* height: 50vmin; */
    z-index: 0;
    /* filter: blur(4px); */
    backdrop-filter: blur(4px);
    /* max-width: 13em; */
    /* max-height: 7em; */
    width: 100%;
    /* width: calc(100% - (2 * var(--bo1rder-width))); */
    /* height: calc(100vh - (2 * var(--border-width))); */
    height: 100vh;
    /* background: url("assets/images/1.png") ; */
    /* 50%/ cover border-box padding-box; */
    font-size: 2em;

    /* backdrop-filter: blur(4px); */
}

.portfolio-test-hero-section {
    content: "";
}

/* Portfolio - Hero Section */
/* .portfolio-hero-bg{
    filter: blur(4px);
} 
*/

.portfolio-hero-section {
    /* width: 100%; */
    --border-px: max(20px, 4vmin);
    --margin-inside-border: 12px;
    --hero-border-radius: 24px;

    height: 100vh;
    color: #FBF6E9;
    font-family: "RobotoRegular";
    font-size: 54px;
}

.portfolio-hero-left-section {
    position: relative;
    top: var(--margin-inside-border);
    left: var(--margin-inside-border);
}

.portfolio-hero-name {
    font-size: 30px;
    font-weight: 500;
}

.portfolio-hero-description {
    font-family: "RobotoLight";
    font-size: 12px;
    font-weight: 100;
}

.portfolio-hero-border {
    position: absolute;

    top: var(--border-px);
    bottom: var(--border-px);
    left: var(--border-px);
    right: var(--border-px);

    border: 12px;
    border-color: #E6C767;
    border-style: solid;
    border-radius: var(--hero-border-radius);
}

/*****************/
/* Color Definer */
/*****************/

/* https://colorhunt.co/palette/4c4b16898121e6c767f87a53 */
/* https://colorhunt.co/palette/100f0f0f3d3ee2dcc8f1f1f1 */

.color-3 {
    background-color: #E6C767;
    color: #fbf7e9;
}

.color-3-description {
    color: #2C2307;
}

.color-red {
    background-color: #F87A53;
    color: #feece7;
}

.color-light-green {
    background-color: #898121;
    color: #FAF9EA;
}

.color-light-green-description {
    color: #151305;
}

.color-green {
    background-color: #4c4b16;
    color: #f9f9eb;
}

.flex-table {
    display: flex;
}

#hero-bg-contour {
    background-color: #4c4b16;

    /* background-image: url("assets/images/bg.png"); */
    width: 100%;
    height: 100%;
    border-radius: var(--hero-border-radius);
    background-size: cover;
    background-attachment: fixed;
}

/* Old hero style - I don't like it */


#me-name {
    font-size: 48px;
    padding: 4px 0;
}

#me-description {
    font-size: 18px;
    padding: 4px 0;
}

.portfolio-bar {
    min-height: 48px;
    height: 48px;
    z-index: 99;
    position: inherit;
    color: white;
}

.portfolio-bar>a>div {
    font-family: "IM Fell Double Pica", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 0 12px;
    float: right;
    line-height: 48px;
}

/* Portfolio - About Me */
.portfolio-main-about-me {
    padding: 100px 0;
    background-color: #F87A53;
    text-align: center;
}

.portfolio-about-me-section {
    padding-top: 90px;
    padding-bottom: 40px;
}

.portfolio-main-about-me-flex {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-about-me-description {
    padding: 16px;
    width: 70%;
}

.portfolio-about-me-description>p {
    padding: 8px;
    flex-basis: 33%;
}

.portfolio-about-me-description>p>a {
    color: white;
}

.portfolio-about-me-description>p>a:hover {
    color: lightskyblue;
}

.portfolio-about-me-left-section {
    padding: 8px;
    flex: 60%;
}

.portfolio-about-me-right-section {
    flex: 40%;
    height: 100%;
    padding: 16px;
    padding-right: 0;
}

.portfolio-main-about-me-title {
    font-family: "DM Serif Display";
    margin-bottom: 32px;
    font-size: 54px;
    color: #feece7;
    line-height: 0.8;
    text-align: center;
}

.portfolio-main-about-me-description {
    font-size: 1rem;
    /* position: absolute; */
    color: #161104;
    text-align: center;
    /* padding: 0 30%; */
    width: 425px;
    margin: 0 auto;
}



.portfolio-about-me-right-section {
    flex: 30%;
}

.portfolio-about-me-right-section>img {
    max-width: 400px;
}

/*    Projects    */

.portfolio-list-of-projects {
    width: 100%;
    padding: 24px 0;
    height: 100vh;
    min-height: 400px;
    position: relative;
    color: white;
}

.portfolio-list-of-projects::before {
    filter: blur(5px);
}

.portfolio-list-of-projects {
    /* background-color: gray; */
    background-image: url("assets/projects/hexa-mirror-screenshot.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    /* filter: blur(5px); */
}

.portfolio-list-of-projects-title {
    padding-left: 56px;
    font-size: 56px;
}

/*************************/
/*   SKILLS / LANGUAGES  */
/*************************/

.portfolio-technology-skills {
    background-color: #E6C767;
    padding-top: 90px;
    padding-bottom: 60px;
}

.portfolio-technology-skills-description {
    padding: 20px;
}

.portfolio-technology-half-section {
    width: 50%;
}

/* .portfolio-skills{
    background-color: darkslategray;
} */

.portfolio-skills {
    background-color: #F87A53;
}

/**************/
/*   CONTACT  */
/**************/

.portfolio-contact-title {
    padding-left: 56px;
    font-size: 56px;
    margin: 32px 0;
}

.portfolio-contact-description {
    text-align: center;
    font-size: x-large;
}

.portfolio-contact-qr-section {
    padding: 128px 32px;
    color: white;
}

.portfolio-contact-qr-section {
    text-align: center;
}

/* Tools */


.portfolio-skills-description {
    padding: 10px 16px;
}

.skills-content-logo-background {
    margin: 4px;
    background-color: rgba(5, 5, 5, 0.1);
    border-radius: 16px;
    display: inherit;
}

.skills-content-logo {
    padding: 8px;
    margin: auto 0;
    height: 64px;
}

.skills-content-logo>img {
    width: 64px;

    display: table-cell;
    /* vertical-align: middle; */
    height: 100%;
    object-fit: contain;
}

.skills-content-logo>a>img {
    width: 64px;
}

.portfolio-softwares {
    background-color: darkslategrey;
    color: white;
    padding-bottom: 16px;
    margin: 16px;
    margin-top: 40px;
}

.portfolio-languages-description {
    background-color: #293333;
    margin: 12px;
    /* padding: 4px 0; */
    border-radius: 12px;
    display: flex;
}

.portfolio-softwares-description {
    padding: 10px 16px;
}

.portfolio-tools-list {
    padding: 12px;
    width: 100%;
}

.portfolio-tools-row {
    display: flex;
    color: black;
}

.portfolio-projects {
    padding: 24px 0;
}

.project-item {
    height: 250px;
    margin: 0;
    align-items: center;
    padding: 12px 0;
    /* backdrop-filter: brightness(8%); */
}

.project-short-info {
    display: flex;
}

.project-date {
    width: 192px;
    text-align: right;
    margin: auto 0;
    padding: 0 12px;
}

.project-description {
    display: block;
}

.project-short-info>h3 {
    font-size: 40px;
    padding: 0 16px;
    margin: 8px 0;
}

.project-short-info:hover>h3 {
    color: white;
}

.project-item:nth-of-type(even) {
    background-color: rgba(5, 5, 5, 0.1);
}

.title-portfolio-section {
    padding: 24px;
    padding-left: 32px;
}

.title-portfolio-section>h1 {
    margin: 0;
}

.portfolio-skills-description {
    padding: auto;
}

.skills-content {
    display: flex;
    margin: 8px;
}

.tools-icon {
    width: 50%;
    /* padding: 4px; */
}

.tools-content {
    display: flex;

    height: 80px;
    background-color: white;
    border-radius: 12px;
    vertical-align: middle;
    margin: 8px;
}

.tools-content-logo {
    padding: 8px;
}

.tools-content-logo>img {
    width: 64px;
}

.tools-content-info {
    padding: 8px;
    width: 100%;
    font-size: small;
}

.tools-content-info>div {
    height: 50%;
}

.tools-content-title {
    text-align: center;
    font-size: large;
}

.language-name {
    padding: 16px 8px;
    /* color:black; */
}

#half-width {
    flex: 50%;
}

.half-width {
    width: 50%;
}

/*********************/
/*   PROJECTS LIST   */
/*********************/

.project-list {
    padding: 0 48px;
}

.project-list>h2 {
    font-size: xx-large;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.project-list>h3 {
    font-style: oblique;
}

.project-list>p {
    font-size: x-large;
    width: 70%;
    /* padding-left: 48px; */
}

.project-list>p>a {
    color: white;
    text-decoration: underline;
}

.project-list>p>a:hover {
    color: wheat;
}

.projects-category {
    /* background-color: aquamarine; */
    display: flex;
}

.projects-category>div {
    float: left;
    flex: 33%;
    text-align: center;
}


/*  Information  */

.portfolio-information {
    background-color: lightblue;
    padding: 32px 0;
}

/*   Project   */
.portfolio-container {
    max-width: 1264px;
    /* width: 100%; */
    margin: 0 auto;
}

.portfolio-technology-computer-skills {
    display: flex;
    padding: 20px;
}

.portfolio-technology-table-softwares {
    background-color: #dbad24;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.portfolio-technology-title {
    padding: 12px;
}

.portfolio-technology-table {
    background-color: #dbad24;
    padding: 8px;
    margin: 8px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.framework-section {
    width: 50%;
    border-radius: 16px;
}

.framework-table {
    display: flex;

    margin: 4px;

    background-color: rgba(5, 5, 5, 0.1);
    border-radius: 16px;
    flex-wrap: wrap;
}

.framework-content-logo {
    width: 86px;
}

.framework-content-logo>a {
    display: inherit;
    padding: 8px;
}

.framework-content-logo>a>img {
    width: 64px;

    display: table-cell;
    /* vertical-align: middle; */
    height: 100%;
    object-fit: contain;
}

.framework-content-title {
    /* width: 100%; */
    text-align: center;
    margin: auto;
    font-size: 1.5em;
}

.framework-content-description {
    background-color: rgba(5, 5, 5, 0.2);
    border-radius: 16px;
    padding: 12px;
    text-align: justify;
}

.slide-type {
    height: 100%;
    width: 50%;
    top: 0px;
    float: left;
    /* background-color: aquamarine; */
    position: absolute;
}

.slide-type>div {
    height: 100%;
}

.portfolio-project-description {
    background-color: orange;
    width: 100%;
    min-height: 50vh;
    position: relative;
}

#graphic {
    /* background-image: url(/projects/media/smok.png) center no-repeat; */
    background: url(/projects/media/smok.png) center center no-repeat;
    background-size: cover;
    transition: transform 500ms;
}

/* #graphic:hover{
    transform: scale(1.1);
} */

.list-of-projects>li {
    list-style: none;
    margin: 24px 0;
    width: 100%;
}

.list-of-projects>li>.list-project-title {
    font-family: "RobotoRegular";
    font-weight: 400;
    font-style: normal;
    font-size: 40px;

    margin: auto;
    width: auto;
    position: relative;
    display: inline;

    left: 0%;
    /* transform: translate(-50%, -50%); */
    font-family: Arial, Helvetica, sans-serif;


    transition: width 800ms;
}

.list-of-projects:hover .list-project-title {
    /* .list-of-projects > li > .list-project-title:hover{ */
    left: 25%;
    /* transform: translate(-50%, -50%); */
}

.copyright-section {
    margin: 24px 8px;
    text-align: center;
}

/*******************************************/
/* ASSIGNED BACKGROUND IMAGES FOR PROJECTS */
/*******************************************/

#graphic-dragon-sculpture {
    background-image: url("/assets/images/dragon-sculpture.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 10%;
}

#graphic-lizard {
    background-image: url("/assets/images/zack-fair-capture3.jpg");
    background-size: cover;
    background-position-y: 18%;
}


/*******************/
/* HELPFUL CLASSES */
/*******************/

.underline_div {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

/* Mobile device optimizer */

@media only screen and (max-width: 1268px) {
    .portfolio-site {
        margin: auto;
        position: relative;
    }

    .dynamic-width {
        min-width: 100%;
        width: 100%;
    }

    .portfolio-container {
        max-width: 100vw;
        /* width: 100%; */
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1000px) {

    .portfolio-about-me-title {
        text-align: center;
        padding: 0;
    }

    .portfolio-about-me-description {
        padding: 8px;
        width: auto;
    }

    .portfolio-about-me-left-section {
        padding: 0px;
        flex: 0;
        width: 100%;
    }

    .portfolio-about-me-right-section {
        /* width: calc(100% - 16px); */
        padding-top: 64px;
        text-align: center;
    }

    .portfolio-about-me-right-section>img {
        width: calc(100% - 24px);
    }

    .portfolio-main-about-me-title {
        margin: 24px 0;
        text-align: center;
    }

    .portfolio-main-about-me-flex {
        flex-direction: column-reverse;
        align-items: center;
    }

    .portfolio-main-about-me-description {
        padding: 32px;
    }

    .portfolio-skills {
        margin: 32px, 16px;
    }

    .portfolio-softwares {
        margin: 32px, 16px;
    }
}

@media only screen and (max-width: 800px) {
    .project-date {
        display: none;
    }

    .tools-icon {
        flex: 50%;
        width: 100%;
    }
}

@media (min-width: 1280px) {
    .portfolio-hero-name {
        font-size: 54px;
    }

    .portfolio-hero-description {
        font-size: 22px;
    }
}